# Data Analyst Challenge

Author: Andres Restrepo

## Libraries

In [2]:
#pip install psycopg2

In [3]:
#pip install ydata-profiling

In [4]:
#pip install --upgrade ydata-profiling

In [5]:
#pip install wordcloud

In [6]:
#pip install matplotlib

In [7]:
#pip install --upgrade matplotlib

In [8]:
#pip show matplotlib

In [9]:
#conda install --update matplotlib

In [10]:
#conda update --all

In [11]:
#pip install --upgrade pydantic

In [12]:
#pip install pydantic

In [13]:
#pip install pydantic-settings

In [14]:
#pip uninstall pydantic

In [15]:
#pip install ydata-profiling==4.0.0

In [16]:
import psycopg2
import pandas as pd
#import pydantic
#from pydantic.version import version_short
#from pydantic_settings import BaseSettings
#from ydata_profiling import ProfileReport
#from pandas_profiling import ProfileReport
#from wordcloud import WordCloud
import matplotlib
import matplotlib.pyplot as plt

In [17]:
# plt.rcParams['font.family'] = 'Arial'  # Specify the font family you want to use
# matplotlib.use('Agg')  # Use the Agg backend (for PNGs)

# Connecting to PostgreSQL

In [18]:
# Connection parameters
hostname = 'localhost'
username = 'postgres'
password = 'Evolucion.2024'
database = 'ces_usa'

# Establish connection
connection = psycopg2.connect(
    host=hostname,
    user=username,
    password=password,
    dbname=database
)

## Reading Government data

In [19]:
# Define SQL query
query_gov = "SELECT * FROM nimble.ce_data_90a;"

# Execute query and fetch data into a pandas DataFrame
df_gov = pd.read_sql_query(query_gov, connection)

In [20]:
df_gov.dtypes

series_id         object
year               int64
period            object
value              int64
footnote_codes    object
dtype: object

In [21]:
df_gov.head(15)

            series_id  year period  value footnote_codes
0   CES9000000001      1939    M01   3988           None
1   CES9000000001      1939    M02   4001           None
2   CES9000000001      1939    M03   4002           None
3   CES9000000001      1939    M04   4002           None
4   CES9000000001      1939    M05   4006           None
5   CES9000000001      1939    M06   4003           None
6   CES9000000001      1939    M07   4019           None
7   CES9000000001      1939    M08   4046           None
8   CES9000000001      1939    M09   4076           None
9   CES9000000001      1939    M10   4089           None
10  CES9000000001      1939    M11   4109           None
11  CES9000000001      1939    M12   4134           None
12  CES9000000001      1940    M01   4150           None
13  CES9000000001      1940    M02   4150           None
14  CES9000000001      1940    M03   4151           None

In [22]:
df_gov.tail()

               series_id  year period  value footnote_codes
58434  CEU9093299910      2023    M09   6222           None
58435  CEU9093299910      2023    M10   6196           None
58436  CEU9093299910      2023    M11   6190           None
58437  CEU9093299910      2023    M12   6207              P
58438  CEU9093299910      2023    M13   6214              P

In [23]:
#df_gov.columns

In [24]:
df_gov['series_id'].unique()

array(['CES9000000001    ', 'CES9000000010    ', 'CES9091000001    ',
       'CES9091000010    ', 'CES9091100001    ', 'CES9091100010    ',
       'CES9091622001    ', 'CES9091622010    ', 'CES9091911001    ',
       'CES9091911010    ', 'CES9091912001    ', 'CES9091912010    ',
       'CES9091999901    ', 'CES9091999910    ', 'CES9092000001    ',
       'CES9092000010    ', 'CES9092161101    ', 'CES9092161110    ',
       'CES9092200001    ', 'CES9092200010    ', 'CES9092262201    ',
       'CES9092262210    ', 'CES9092292001    ', 'CES9092292010    ',
       'CES9092299901    ', 'CES9092299910    ', 'CES9093000001    ',
       'CES9093000010    ', 'CES9093161101    ', 'CES9093161110    ',
       'CES9093200001    ', 'CES9093200010    ', 'CES9093222101    ',
       'CES9093222110    ', 'CES9093248001    ', 'CES9093248010    ',
       'CES9093262201    ', 'CES9093262210    ', 'CES9093292001    ',
       'CES9093292010    ', 'CES9093299901    ', 'CES9093299910    ',
       'CEU9000000001    ', 'CEU9000000010    ', 'CEU9091000001    ',
       'CEU9091000010    ', 'CEU9091100001    ', 'CEU9091100010    ',
       'CEU9091622001    ', 'CEU9091622010    ', 'CEU9091911001    ',
       'CEU9091911010    ', 'CEU9091912001    ', 'CEU9091912010    ',
       'CEU9091999901    ', 'CEU9091999910    ', 'CEU9092000001    ',
       'CEU9092000010    ', 'CEU9092161101    ', 'CEU9092161110    ',
       'CEU9092200001    ', 'CEU9092200010    ', 'CEU9092262201    ',
       'CEU9092262210    ', 'CEU9092292001    ', 'CEU9092292010    ',
       'CEU9092299901    ', 'CEU9092299910    ', 'CEU9093000001    ',
       'CEU9093000010    ', 'CEU9093161101    ', 'CEU9093161110    ',
       'CEU9093200001    ', 'CEU9093200010    ', 'CEU9093222101    ',
       'CEU9093222110    ', 'CEU9093248001    ', 'CEU9093248010    ',
       'CEU9093262201    ', 'CEU9093262210    ', 'CEU9093292001    ',
       'CEU9093292010    ', 'CEU9093299901    ', 'CEU9093299910    '],
      dtype=object)

__There were blank spaces in series_id__

### Data cleaning

#### Series id

In [25]:
df_gov['series_id'] = df_gov['series_id'].str.strip()

In [26]:
df_gov['series_id'].unique()

array(['CES9000000001', 'CES9000000010', 'CES9091000001', 'CES9091000010',
       'CES9091100001', 'CES9091100010', 'CES9091622001', 'CES9091622010',
       'CES9091911001', 'CES9091911010', 'CES9091912001', 'CES9091912010',
       'CES9091999901', 'CES9091999910', 'CES9092000001', 'CES9092000010',
       'CES9092161101', 'CES9092161110', 'CES9092200001', 'CES9092200010',
       'CES9092262201', 'CES9092262210', 'CES9092292001', 'CES9092292010',
       'CES9092299901', 'CES9092299910', 'CES9093000001', 'CES9093000010',
       'CES9093161101', 'CES9093161110', 'CES9093200001', 'CES9093200010',
       'CES9093222101', 'CES9093222110', 'CES9093248001', 'CES9093248010',
       'CES9093262201', 'CES9093262210', 'CES9093292001', 'CES9093292010',
       'CES9093299901', 'CES9093299910', 'CEU9000000001', 'CEU9000000010',
       'CEU9091000001', 'CEU9091000010', 'CEU9091100001', 'CEU9091100010',
       'CEU9091622001', 'CEU9091622010', 'CEU9091911001', 'CEU9091911010',
       'CEU9091912001', 'CEU9091912010', 'CEU9091999901', 'CEU9091999910',
       'CEU9092000001', 'CEU9092000010', 'CEU9092161101', 'CEU9092161110',
       'CEU9092200001', 'CEU9092200010', 'CEU9092262201', 'CEU9092262210',
       'CEU9092292001', 'CEU9092292010', 'CEU9092299901', 'CEU9092299910',
       'CEU9093000001', 'CEU9093000010', 'CEU9093161101', 'CEU9093161110',
       'CEU9093200001', 'CEU9093200010', 'CEU9093222101', 'CEU9093222110',
       'CEU9093248001', 'CEU9093248010', 'CEU9093262201', 'CEU9093262210',
       'CEU9093292001', 'CEU9093292010', 'CEU9093299901', 'CEU9093299910'],
      dtype=object)

In [27]:
### Data profiling (Not working)

In [28]:
# profile_df_gov = ProfileReport(df_gov, title="Profiling Report df_gov")
# #profile_df_gov.to_file("Profiling Report df_gov.html")
# profile_df_gov.to_notebook_iframe()

#### Period

In [31]:
# Month column
df_gov[df_gov['period']=="M13"]

           series_id  year period  value footnote_codes
28065  CEU9000000001  1939    M13   4040           None
28078  CEU9000000001  1940    M13   4251           None
28091  CEU9000000001  1941    M13   4726           None
28104  CEU9000000001  1942    M13   5592           None
28117  CEU9000000001  1943    M13   6222           None
...              ...   ...    ...    ...            ...
58386  CEU9093299910  2019    M13   6312           None
58399  CEU9093299910  2020    M13   5635           None
58412  CEU9093299910  2021    M13   5670           None
58425  CEU9093299910  2022    M13   5960           None
58438  CEU9093299910  2023    M13   6214              P

[2335 rows x 5 columns]

__There are record with a 13th month with represent the anual average.__

In [33]:
# Dropring annual average
df_gov = df_gov.drop(df_gov[df_gov['period']=="M13"].index)

In [34]:
df_gov[df_gov['period']=="M13"]

Empty DataFrame
Columns: [series_id, year, period, value, footnote_codes]
Index: []

### Subsetting

In [ ]:
# Subsetting series of interest
# CEU9000000001: All employees, thousands, government, not seasonally adjusted
# CEU9000000010: Women employees, thousands, government, not seasonally adjusted
gov_series = ("CEU9000000001","CEU9000000010")
# df_gov_sub = df_gov[(df_gov.series_id == "CEU9000000001")]
df_gov_sub = df_gov[df_gov['series_id'].isin(gov_series)]

In [ ]:
df_gov_sub.head

In [ ]:
df_gov_sub['series_id'].unique()

## Reading production employees data

In [36]:
# Define SQL query
query_pro_sup = "SELECT * FROM nimble.ce_data_05a;"

# Execute query and fetch data into a pandas DataFrame
df_pro_sup = pd.read_sql_query(query_pro_sup, connection)

In [37]:
df_pro_sup.head()

           series_id  year period  value footnote_codes
0  CES0500000001      1939    M01  25935           None
1  CES0500000001      1939    M02  26099           None
2  CES0500000001      1939    M03  26278           None
3  CES0500000001      1939    M04  26092           None
4  CES0500000001      1939    M05  26293           None

In [38]:
df_pro_sup.tail()

               series_id  year period  value footnote_codes
23068  CEU0800000010      2023    M10  60027           None
23069  CEU0800000010      2023    M11  60282           None
23070  CEU0800000010      2023    M12  60354              P
23071  CEU0800000010      2023    M13  59464              P
23072  CEU0800000010      2024    M01  59435              P

In [39]:
df_pro_sup['series_id'].unique()

array(['CES0500000001    ', 'CES0500000006    ', 'CES0500000010    ',
       'CES0500000021    ', 'CES0500000022    ', 'CES0500000023    ',
       'CES0500000025    ', 'CES0500000026    ', 'CES0600000001    ',
       'CES0600000006    ', 'CES0600000010    ', 'CES0600000025    ',
       'CES0700000001    ', 'CES0700000010    ', 'CES0700000025    ',
       'CES0800000001    ', 'CES0800000006    ', 'CES0800000010    ',
       'CEU0500000001    ', 'CEU0500000006    ', 'CEU0500000010    ',
       'CEU0500000024    ', 'CEU0600000001    ', 'CEU0600000006    ',
       'CEU0600000010    ', 'CEU0700000001    ', 'CEU0700000010    ',
       'CEU0800000001    ', 'CEU0800000006    ', 'CEU0800000010    '],
      dtype=object)

__There were blank spaces in series_id__

### Data cleaning

#### Series id

In [40]:
df_pro_sup['series_id'] = df_pro_sup['series_id'].str.strip()

In [41]:
df_pro_sup['series_id'].unique()

array(['CES0500000001', 'CES0500000006', 'CES0500000010', 'CES0500000021',
       'CES0500000022', 'CES0500000023', 'CES0500000025', 'CES0500000026',
       'CES0600000001', 'CES0600000006', 'CES0600000010', 'CES0600000025',
       'CES0700000001', 'CES0700000010', 'CES0700000025', 'CES0800000001',
       'CES0800000006', 'CES0800000010', 'CEU0500000001', 'CEU0500000006',
       'CEU0500000010', 'CEU0500000024', 'CEU0600000001', 'CEU0600000006',
       'CEU0600000010', 'CEU0700000001', 'CEU0700000010', 'CEU0800000001',
       'CEU0800000006', 'CEU0800000010'], dtype=object)

#### Period

In [42]:
# Month column
df_pro_sup[df_pro_sup['period']=="M13"]

           series_id  year period  value footnote_codes
12576  CEU0500000001  1939    M13  26606           None
12589  CEU0500000001  1940    M13  28156           None
12602  CEU0500000001  1941    M13  31874           None
12615  CEU0500000001  1942    M13  34621           None
12628  CEU0500000001  1943    M13  36353           None
...              ...   ...    ...    ...            ...
23019  CEU0800000010  2019    M13  57538           None
23032  CEU0800000010  2020    M13  53516           None
23045  CEU0800000010  2021    M13  55484           None
23058  CEU0800000010  2022    M13  58124           None
23071  CEU0800000010  2023    M13  59464              P

[777 rows x 5 columns]

__There are record with a 13th month with represent the anual average.__

In [45]:
# Dropring annual average
df_pro_sup = df_pro_sup.drop(df_pro_sup[df_pro_sup['period']=="M13"].index)

In [46]:
df_pro_sup[df_pro_sup['period']=="M13"]

Empty DataFrame
Columns: [series_id, year, period, value, footnote_codes]
Index: []

### Subsetting

In [ ]:
# Subsetting series of interest
# CEU0500000006: Production and nonsupervisory employees, thousands, total private, not seasonally adjusted
# CEU0500000001: All employees, thousands, total private, not seasonally adjusted
pro_sup_series = ("CEU0500000006", "CEU0500000001")
# df_pro_sup = df_pro_sup[(df_pro_sup.series_id == "CEU0500000006")]
df_pro_sup = df_pro_sup[df_pro_sup['series_id'].isin(pro_sup_series)]

In [ ]:
df_pro_sup.head

In [ ]:
df_pro_sup['series_id'].unique()

# Transforming data

## Month

In [ ]:
# Month listing
month_mapping = {
    'M01': 'January',
    'M02': 'February',
    'M03': 'March',
    'M04': 'April',
    'M05': 'May',
    'M06': 'June',
    'M07': 'July',
    'M08': 'August',
    'M09': 'September',
    'M10': 'October',
    'M11': 'November',
    'M12': 'December'
}

df_gov['month'] = df_gov['period'].map(month_mapping)
df_pro_sup['month'] = df_pro_sup['period'].map(month_mapping)

In [ ]:
df_gov.head()

In [ ]:
df_pro_sup.head()

## Month year date column

In [ ]:
# String year column
df_gov['year_str'] = df_gov['year'].astype(str)
df_pro_sup['year_str'] = df_pro_sup['year'].astype(str)
# Merging month and year columns
df_gov['date'] = df_gov['month'] + ' ' + df_gov['year_str']
df_pro_sup['date'] = df_pro_sup['month'] + ' ' + df_pro_sup['year_str']

In [ ]:
df_gov.head()

In [ ]:
df_pro_sup.head()

In [ ]:
df_gov.tail()

In [ ]:
df_pro_sup.tail()

## Data frame by series

### Government data

In [ ]:
# CEU9000000010: Women employees, thousands, government, not seasonally adjusted
df_gov_w = df_gov[(df_gov.series_id == "CEU9000000010")]
# CEU9000000001: All employees, thousands, government, not seasonally adjusted
df_gov_t = df_gov[(df_gov.series_id == "CEU9000000001")]

In [ ]:
df_gov_w['series_id'].unique()

In [ ]:
df_gov_t['series_id'].unique()

In [ ]:
# Column names
df_gov_w = df_gov_w.rename(columns={'value': 'womenInThousands'})
df_gov_t = df_gov_t.rename(columns={'value': 'totalInThousands'})

In [ ]:
df_gov_w.head()

In [ ]:
# Merge series of government data
df_gov_merge = pd.merge(df_gov_w[['date','womenInThousands']], df_gov_t[['date','totalInThousands']], on='date', how='left')

In [ ]:
df_gov_merge.head()

In [ ]:
# Women ratio in government
df_gov_merge['wom_gov_ratio'] = round(df_gov_merge['womenInThousands']/df_gov_merge['totalInThousands'],2)

In [ ]:
df_gov_merge.head()

In [ ]:
df_gov_merge.tail()

### Production employees data

In [ ]:
# CEU0500000006: Production and nonsupervisory employees, thousands, total private, not seasonally adjusted
df_pro_sup_p = df_pro_sup[(df_pro_sup.series_id == "CEU0500000006")]
# CEU0500000001: All employees, thousands, total private, not seasonally adjusted
df_pro_sup_t = df_pro_sup[(df_pro_sup.series_id == "CEU0500000001")]

In [ ]:
df_pro_sup_p['series_id'].unique()

In [ ]:
df_pro_sup_t['series_id'].unique()

In [ ]:
# Column names
df_pro_sup_p = df_pro_sup_p.rename(columns={'value': 'prodInThousands'})
df_pro_sup_t = df_pro_sup_t.rename(columns={'value': 'totalInThousands'})

In [ ]:
df_pro_sup_p.head()

In [ ]:
df_pro_sup_t.head()

In [ ]:
df_pro_sup_p.tail()

In [ ]:
df_pro_sup_t.tail()

__The start date between the series differ, however it is possible to calculate the ratio from 1964__

In [ ]:
# Merge series of government data
df_pro_sup_merge = pd.merge(df_pro_sup_t[['date','totalInThousands']], df_pro_sup_p[['date','prodInThousands']], on='date', how='left')

In [ ]:
df_pro_sup_merge.head()

In [ ]:
df_pro_sup_merge.tail()

In [ ]:
# Supervisory employees
df_pro_sup_merge['supInThousands'] = df_pro_sup_merge['totalInThousands']-df_pro_sup_merge['prodInThousands']
# Production employees / supervisory employees Ratio
df_pro_sup_merge['prod_sup_ratio'] = round(df_pro_sup_merge['prodInThousands']/df_pro_sup_merge['supInThousands'],2)

In [ ]:
df_pro_sup_merge.tail()

__Review date results__